.card-body{
  display: flex;
  flex-wrap: wrap;
}
.continent-container{
  background-color: #dadde2;
  height: 100%;
  background-image:url('../img//2-removebg.png') ;
  background-size:100%;
  background-repeat: repeat;
  padding: 20px;
}