li{
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0.5em;
  margin-block-end: 0.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.Navbar{
  position: relative;
  padding: 0px;
  display:flex ;
  height: 12vh;
  width: 100vw;
  background-color:#b7ccf3;
  border: 2px black solid;
  margin-left: -16px;
}

.img-logo img{
  height: 10vh;
  padding-left: 0px;
  padding-top: 0.1rem;
}
.content{
  text-decoration: none;
  padding-left: 4rem;
  font-size: 50px;
  font-style: normal;
  font-family: aloja Goudy Stout;
  color: black;
}
.content:hover{
  color: red;
}